1. ```Python
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']
```
  - Print each list item in flash using a for loop
  - Create an iterator for flash: superspeed and then print each item from the iterator

In [4]:
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']
i = iter(flash)
print(next(i))
print(next(i))
print(next(i))
print(next(i))
print(next(i))

jay garrick
barry allen
wally west
bart allen

StopIteration:

#### Not all iterables are actual lists. `range()` doesn't actually create the list; instead, it creates a range object with an iterator that produces the values until it reaches the limit.

2. Create a list of strings: mutants
```Python
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']
```
  - Print the elements of `mutants` along with their index.
  - Start the index from 1

In [7]:
mutants = ['charles xavier', 
         'bobby drake', 
         'kurt wagner', 
         'max eisenhardt', 
         'kitty pryde']
for index, element in enumerate(mutants,1):
    print(str(index) + ": " + element)

1: charles xavier
2: bobby drake
3: kurt wagner
4: max eisenhardt
5: kitty pryde

3. ```Python
mutants = ['charles xavier','bobby drake','kurt wagner','max eisenhardt','kitty pryde']
aliases = ['prof x','iceman','nightcrawler','magneto','shadowcat']
powers = ['telepathy','thermokinesis','teleportation','magnetokinesis','intangibility']
```
  - Map the similar index of multiple lists given above so that they can be used just using as single entity.
  - Print the values from newly formed entity, eg. `charles xavier prof x telepathy` / Print the tuples by unpacking the zipped object
  - Unzip the lists from the zipped object

In [32]:
mutants = ['charles xavier','bobby drake','kurt wagner','max eisenhardt','kitty pryde']
aliases = ['prof x','iceman','nightcrawler','magneto','shadowcat']
powers = ['telepathy','thermokinesis','teleportation','magnetokinesis','intangibility']
result = zip(mutants,aliases,powers)
l_result = list(zip(mutants,aliases,powers))
print(l_result) # Print the list of tuples in result by unpacking with *
print('--------------------------------------------------')
print(*result) # Print the tuples in result by unpacking with *
print('--------------------------------------------------')
# Method 1
for x in l_result:
    for y in x:
        print(y, end=' ')
    print()
print('--------------------------------------------------')
# Method 2
for x, y, z in zip(mutants,aliases,powers):
    print(x, y, z)
print('--------------------------------------------------')
result = zip(mutants,aliases,powers)
# Method 1
x, y, z = zip(*result)
if list(x) == mutants:
    print('True')
if list(y) == aliases:
    print('True')
if list(z) == powers:
    print('True')
print(x, y, z, sep='\n')

[('charles xavier', 'prof x', 'telepathy'), ('bobby drake', 'iceman', 'thermokinesis'), ('kurt wagner', 'nightcrawler', 'teleportation'), ('max eisenhardt', 'magneto', 'magnetokinesis'), ('kitty pryde', 'shadowcat', 'intangibility')]
--------------------------------------------------
('charles xavier', 'prof x', 'telepathy') ('bobby drake', 'iceman', 'thermokinesis') ('kurt wagner', 'nightcrawler', 'teleportation') ('max eisenhardt', 'magneto', 'magnetokinesis') ('kitty pryde', 'shadowcat', 'intangibility')
--------------------------------------------------
charles xavier prof x telepathy
bobby drake iceman thermokinesis
kurt wagner nightcrawler teleportation
max eisenhardt magneto magnetokinesis
kitty pryde shadowcat intangibility
--------------------------------------------------
charles xavier prof x telepathy
bobby drake iceman thermokinesis
kurt wagner nightcrawler teleportation
max eisenhardt magneto magnetokinesis
kitty pryde shadowcat intangibility
--------------------------------------------------
True
True
True
('charles xavier', 'bobby drake', 'kurt wagner', 'max eisenhardt', 'kitty pryde')
('prof x', 'iceman', 'nightcrawler', 'magneto', 'shadowcat')
('telepathy', 'thermokinesis', 'teleportation', 'magnetokinesis', 'intangibility')

4. Define the function `count_entries()` for Tweeter data problem to count number of distinct values in a column. The function has 3 parameters. The first parameter is `csv_file` for the filename, the second is `c_size` for the chunk size, and the last is `colname` for the column name.

In [ ]:
def count_entries(csv_file, c_size, col_name):

5. - Write a list comprehension that produces a list of numbers consisting of the squared values of i
   - Create a 5 x 5 matrix using a list of lists: matrix
   ```Python
    matrix = [[0, 1, 2, 3, 4],
               [0, 1, 2, 3, 4],
               [0, 1, 2, 3, 4],
               [0, 1, 2, 3, 4],
               [0, 1, 2, 3, 4]]
```
   - You are given a list of strings fellowship and, using a list comprehension, you will create a list that only includes the members of fellowship that have 7 characters or more.
```Python
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']
```
   - Create a list that keeps members of fellowship with 7 or more characters and replaces others with an empty string.
   - Using a dict comprehension, create a dictionary with the members of the list as the keys and the length of each string as the corresponding values.

In [52]:
a = [1,2,3,4,5]
square = [x*x for x in a]
print(square)
print('--------------------------------------------------')
matrix =[]
for x in range(5):
    temp = []
    for y in range(5):
        temp.append(y)
    matrix.append(temp)
print(matrix)
print('--------------------------------------------------')
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']
r_fellowship = [x for x in fellowship if len(x)>=7]
print(r_fellowship)
print('--------------------------------------------------')
d_fellowship = {x: len(x) for x in fellowship}
print(d_fellowship)

[1, 4, 9, 16, 25]
--------------------------------------------------
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
--------------------------------------------------
['samwise', 'aragorn', 'legolas', 'boromir']
--------------------------------------------------
{'frodo': 5, 'samwise': 7, 'merry': 5, 'aragorn': 7, 'legolas': 7, 'boromir': 7, 'gimli': 5}

Iterator is a more general concept: any object whose class has a `next` method and an `iter` method that does return self.

**Every generator is an iterator, but not vice versa.** A generator is built by calling a function that has one or more yield  statements, or built using generator expression and is an object that meets the definition of an iterator. (Previous Paragraph)

"Generator is like a list comprehension, but it does not create list in memory. It creates a generator object that can be iterated over to produce element of a list as required." - Data Camp

For example, a generator such as:
```Python
def squares(start, stop):
    for i in range(start, stop):
        yield i * i
generator = squares(10, 20)
```
or the equivalent generator expression (genexp)
```Python
generator = (i*i for i in range(10, 20))
```

-------
- A list comprehension produces a list as output, a generator produces a generator object.
- When iterating over a dictionary with .items(), or using the range() function,  Python creates generators for you behind the scenes. 
- The type of `range(10)` is a `range` object and the type of `dict.items()` is `dict_items` object
- `range(10)` and `dict.items()` are iterables because they produces `range_iterator` and `dict_itemiterator` objects when called by the `iter()` method. But, the `genrator` did not produces any iterator object because generator itself is an iterator.

In [3]:
y = range(10)
i = iter(y)
print(next(i))

for x in (i*i for i in range(5, 10)):
    print(x)
    
d = {1:'hello', 2:'bello'}
print(type(d.items()))
print(iter(d.items()))
print(iter(range(10)))

0
25
36
49
64
81
<class 'dict_items'>
<dict_itemiterator object at 0x0000016BDFAC2638>
<range_iterator object at 0x0000016BDFA7B7B0>

```Python
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']
```
6. - Write a generator expression that will generate the lengths of each string in lannister
   - Create a generator function with a similar mechanism as the generator expression you defined above

In [11]:
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']
len_lannister = (len(x) for x in lannister)
for x in len_lannister:
    print(x)
print('--------------------------------------------------')
def len_lannister(l):
    for x in l:
        yield len(x)

for x in len_lannister(lannister):
    print(x)

6
5
5
6
7
--------------------------------------------------
6
5
5
6
7

7. - Use a list comprehension to extract the time from time-stamped Twitter data : tweet_time.
   - Extract time-stamp for which value of seconds stamp is 19

In [20]:
import pandas as pd
df = pd.read_csv("C:\\Users\\saifs\\Desktop\\data_science\\datasets\\tweets.csv")
print(df.created_at.head())
print('--------------------------------------------------')
tweet_time = [row['created_at'][11:19] for index, row in df.iterrows() if row['created_at'][17:19]=='19']
print(tweet_time)

0    Tue Mar 29 23:40:17 +0000 2016
1    Tue Mar 29 23:40:17 +0000 2016
2    Tue Mar 29 23:40:17 +0000 2016
3    Tue Mar 29 23:40:17 +0000 2016
4    Tue Mar 29 23:40:17 +0000 2016
Name: created_at, dtype: object
--------------------------------------------------
['23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']

8. ```Python
feature_names = ['CountryName','CountryCode','IndicatorName','IndicatorCode','Year','Value']
row_vals = ['Arab World',
'ARB','Adolescent fertility rate (births per 1,000 women ages 15-19)',
'SP.ADO.TFRT','1960','133.56090740552298']
row_lists = [['Arab World',
  'ARB',
  'Adolescent fertility rate (births per 1,000 women ages 15-19)',
  'SP.ADO.TFRT',
  '1960',
  '133.56090740552298'],
 ['Arab World',
  'ARB',
  'Age dependency ratio (% of working-age population)',
  'SP.POP.DPND',
  '1960',
  '87.7976011532547'],
 ['Arab World',
  'ARB',
  'Age dependency ratio, old (% of working-age population)',
  'SP.POP.DPND.OL',
  '1960',
  '6.634579191565161'],
  ['Arab World',
  'ARB',
  'CO2 emissions (kt)',
  'EN.ATM.CO2E.KT',
  '1960',
  '59563.9892169935'],
 ['Arab World',
  'ARB',
  'CO2 emissions (metric tons per capita)',
  'EN.ATM.CO2E.PC',
  '1960',
  '0.6439635478877049']]
```
  - Write a function which takes two lists as input and return a dictionary where list1 provides the keys and list2 provides the values. Call the lists2dict() function with the arguments feature_names and row_vals. Assign the result of the function call to rs_fxn
  - Use a list comprehension `lists_of_dicts` to generate a list of dicts, where the keys are the header names and the values are the row entries as `row_lists`.
  - Turn the `lists_of_dicts` into dataframe

In [30]:
feature_names = ['CountryName','CountryCode','IndicatorName','IndicatorCode','Year','Value']
row_vals = ['Arab World',
'ARB','Adolescent fertility rate (births per 1,000 women ages 15-19)',
'SP.ADO.TFRT','1960','133.56090740552298']
row_lists = [['Arab World',
'ARB',
'Adolescent fertility rate (births per 1,000 women ages 15-19)',
'SP.ADO.TFRT',
'1960',
'133.56090740552298'],
['Arab World',
'ARB',
'Age dependency ratio (% of working-age population)',
'SP.POP.DPND',
'1960',
'87.7976011532547'],
['Arab World',
'ARB',
'Age dependency ratio, old (% of working-age population)',
'SP.POP.DPND.OL',
'1960',
'6.634579191565161'],
['Arab World',
'ARB',
'CO2 emissions (kt)',
'EN.ATM.CO2E.KT',
'1960',
'59563.9892169935'],
['Arab World',
'ARB',
'CO2 emissions (metric tons per capita)',
'EN.ATM.CO2E.PC',
'1960',
'0.6439635478877049']]


def list2dict(list1, list2):
    d = dict(zip(list1,list2))
    return d
rs_fxn = list2dict(feature_names, row_vals)
print(rs_fxn)

print('--------------------------------------------------')

list_of_dicts = [list2dict(feature_names, x) for x in row_lists]
print(list_of_dicts)
df = pd.DataFrame(list_of_dicts)
df

{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'IndicatorName': 'Adolescent fertility rate (births per 1,000 women ages 15-19)', 'IndicatorCode': 'SP.ADO.TFRT', 'Year': '1960', 'Value': '133.56090740552298'}
--------------------------------------------------
[{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'IndicatorName': 'Adolescent fertility rate (births per 1,000 women ages 15-19)', 'IndicatorCode': 'SP.ADO.TFRT', 'Year': '1960', 'Value': '133.56090740552298'}, {'CountryName': 'Arab World', 'CountryCode': 'ARB', 'IndicatorName': 'Age dependency ratio (% of working-age population)', 'IndicatorCode': 'SP.POP.DPND', 'Year': '1960', 'Value': '87.7976011532547'}, {'CountryName': 'Arab World', 'CountryCode': 'ARB', 'IndicatorName': 'Age dependency ratio, old (% of working-age population)', 'IndicatorCode': 'SP.POP.DPND.OL', 'Year': '1960', 'Value': '6.634579191565161'}, {'CountryName': 'Arab World', 'CountryCode': 'ARB', 'IndicatorName': 'CO2 emissions (kt)', 'IndicatorCode': 'EN.ATM.CO2E.KT', 'Year': '1960', 'Value': '59563.9892169935'}, {'CountryName': 'Arab World', 'CountryCode': 'ARB', 'IndicatorName': 'CO2 emissions (metric tons per capita)', 'IndicatorCode': 'EN.ATM.CO2E.PC', 'Year': '1960', 'Value': '0.6439635478877049'}]

,CountryCode,CountryName,IndicatorCode,IndicatorName,Value,Year
0,ARB,Arab World,SP.ADO.TFRT,"Adolescent fertility rate (births per 1,000 wo...",133.56090740552298,1960
1,ARB,Arab World,SP.POP.DPND,Age dependency ratio (% of working-age populat...,87.7976011532547,1960
2,ARB,Arab World,SP.POP.DPND.OL,"Age dependency ratio, old (% of working-age po...",6.634579191565161,1960
3,ARB,Arab World,EN.ATM.CO2E.KT,CO2 emissions (kt),59563.9892169935,1960
4,ARB,Arab World,EN.ATM.CO2E.PC,CO2 emissions (metric tons per capita),0.6439635478877049,1960

9. - You will process the first 1000 rows of a file `world_ind_pop_data.csv` line by line, to create a `dictionary` of the counts of how many times each country appears in a column in the dataset. Skip the first row which represent column names. Split the current line into list. Use the value of only `column[0]` to check the counts.
   - Define a generator function `read_large_file()` that produces a generator object which yields a single line from a file each time next() is called on it. First open a connection between `world_dev_ind.csv` as `file` and then pass the `file` to the function.
   - Now using the generator function, solve the same scenario stated in point 1 for the entire csv file.

In [32]:
df = pd.read_csv("C:\\Users\\saifs\\Desktop\\data_science\\datasets\\world_ind_pop_data.csv")
df.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

In [51]:
with open("C:\\Users\\saifs\\Desktop\\data_science\\datasets\\world_ind_pop_data.csv", "r") as file:
    print(file.readline())
    d = {}
    for i in range(1000):
        current = file.readline()
        a_current = current.split(',')
        if a_current[0] in d:
            d[a_current[0]] += 1
        else:
            d[a_current[0]] = 1
    print(d)

CountryName,CountryCode,Year,Total Population,Urban population (% of total)

{'Arab World': 5, 'Caribbean small states': 5, 'Central Europe and the Baltics': 5, 'East Asia & Pacific (all income levels)': 5, 'East Asia & Pacific (developing only)': 5, 'Euro area': 5, 'Europe & Central Asia (all income levels)': 5, 'Europe & Central Asia (developing only)': 5, 'European Union': 5, 'Fragile and conflict affected situations': 5, 'Heavily indebted poor countries (HIPC)': 5, 'High income': 5, 'High income: nonOECD': 5, 'High income: OECD': 5, 'Latin America & Caribbean (all income levels)': 5, 'Latin America & Caribbean (developing only)': 5, 'Least developed countries: UN classification': 5, 'Low & middle income': 5, 'Low income': 5, 'Lower middle income': 5, 'Middle East & North Africa (all income levels)': 5, 'Middle East & North Africa (developing only)': 5, 'Middle income': 5, 'North America': 5, 'OECD members': 5, 'Other small states': 5, 'Pacific island small states': 5, 'Small states': 5, 'South Asia': 5, 'Sub-Saharan Africa (all income levels)': 5, 'Sub-Saharan Africa (developing only)': 5, 'Upper middle income': 5, 'World': 4, 'Afghanistan': 4, 'Albania': 4, 'Algeria': 4, 'American Samoa': 4, 'Andorra': 4, 'Angola': 4, 'Antigua and Barbuda': 4, 'Argentina': 4, 'Armenia': 4, 'Aruba': 4, 'Australia': 4, 'Austria': 4, 'Azerbaijan': 4, '"Bahamas': 4, 'Bahrain': 4, 'Bangladesh': 4, 'Barbados': 4, 'Belarus': 4, 'Belgium': 4, 'Belize': 4, 'Benin': 4, 'Bermuda': 4, 'Bhutan': 4, 'Bolivia': 4, 'Bosnia and Herzegovina': 4, 'Botswana': 4, 'Brazil': 4, 'Brunei Darussalam': 4, 'Bulgaria': 4, 'Burkina Faso': 4, 'Burundi': 4, 'Cabo Verde': 4, 'Cambodia': 4, 'Cameroon': 4, 'Canada': 4, 'Cayman Islands': 4, 'Central African Republic': 4, 'Chad': 4, 'Channel Islands': 4, 'Chile': 4, 'China': 4, 'Colombia': 4, 'Comoros': 4, '"Congo': 8, 'Costa Rica': 4, "Cote d'Ivoire": 4, 'Croatia': 4, 'Cuba': 4, 'Curacao': 4, 'Cyprus': 4, 'Czech Republic': 4, 'Denmark': 4, 'Djibouti': 4, 'Dominica': 4, 'Dominican Republic': 4, 'Ecuador': 4, '"Egypt': 4, 'El Salvador': 4, 'Equatorial Guinea': 4, 'Eritrea': 4, 'Estonia': 4, 'Ethiopia': 4, 'Faeroe Islands': 4, 'Fiji': 4, 'Finland': 4, 'France': 4, 'French Polynesia': 4, 'Gabon': 4, '"Gambia': 4, 'Georgia': 4, 'Germany': 4, 'Ghana': 4, 'Greece': 4, 'Greenland': 4, 'Grenada': 4, 'Guam': 4, 'Guatemala': 4, 'Guinea': 4, 'Guinea-Bissau': 4, 'Guyana': 4, 'Haiti': 4, 'Honduras': 4, '"Hong Kong SAR': 4, 'Hungary': 4, 'Iceland': 4, 'India': 4, 'Indonesia': 4, '"Iran': 4, 'Iraq': 4, 'Ireland': 4, 'Isle of Man': 4, 'Israel': 4, 'Italy': 4, 'Jamaica': 4, 'Japan': 4, 'Jordan': 4, 'Kazakhstan': 4, 'Kenya': 4, 'Kiribati': 4, '"Korea': 8, 'Kuwait': 4, 'Kyrgyz Republic': 4, 'Lao PDR': 4, 'Latvia': 4, 'Lebanon': 4, 'Lesotho': 4, 'Liberia': 4, 'Libya': 4, 'Liechtenstein': 4, 'Lithuania': 4, 'Luxembourg': 4, '"Macao SAR': 4, '"Macedonia': 4, 'Madagascar': 4, 'Malawi': 4, 'Malaysia': 4, 'Maldives': 4, 'Mali': 4, 'Malta': 4, 'Marshall Islands': 4, 'Mauritania': 4, 'Mauritius': 4, 'Mexico': 4, '"Micronesia': 4, 'Moldova': 4, 'Monaco': 4, 'Mongolia': 4, 'Montenegro': 4, 'Morocco': 4, 'Mozambique': 4, 'Myanmar': 4, 'Namibia': 4, 'Nepal': 4, 'Netherlands': 4, 'New Caledonia': 4, 'New Zealand': 4, 'Nicaragua': 4, 'Niger': 4, 'Nigeria': 4, 'Northern Mariana Islands': 4, 'Norway': 4, 'Oman': 4, 'Pakistan': 4, 'Palau': 4, 'Panama': 4, 'Papua New Guinea': 4, 'Paraguay': 4, 'Peru': 4, 'Philippines': 4, 'Poland': 4, 'Portugal': 4, 'Puerto Rico': 4, 'Qatar': 4, 'Romania': 4, 'Russian Federation': 4, 'Rwanda': 4, 'Samoa': 4, 'San Marino': 4, 'Sao Tome and Principe': 4, 'Saudi Arabia': 4, 'Senegal': 4, 'Seychelles': 4, 'Sierra Leone': 4, 'Singapore': 4, 'Slovak Republic': 4, 'Slovenia': 4, 'Solomon Islands': 4, 'Somalia': 4, 'South Africa': 4, 'South Sudan': 4, 'Spain': 4, 'Sri Lanka': 4, 'St. Kitts and Nevis': 4, 'St. Lucia': 4, 'St. Vincent and the Grenadines': 4, 'Sudan': 4, 'Suriname': 4, 'Swaziland': 4, 'Sweden': 4, 'Switzerland': 4, 'Syrian Arab Republic': 4, 'Tajikistan': 4, 'Tanzania': 4, 'Thailand': 4, 'Timor-Leste': 4, 'Togo': 4, 'Tonga': 4, 'Trinidad and Tobago': 4, 'Tunisia': 4, 'Turkey': 4, 'Turkmenistan': 4, 'Turks and Caicos Islands': 4, 'Tuvalu': 4, 'Uganda': 4, 'Ukraine': 4, 'United Arab Emirates': 4, 'United Kingdom': 4, 'United States': 4, 'Uruguay': 4, 'Uzbekistan': 4, 'Vanuatu': 4, '"Venezuela': 4, 'Vietnam': 4, 'Virgin Islands (U.S.)': 4, '"Yemen': 4, 'Zambia': 4, 'Zimbabwe': 4}

In [66]:
def read_large_file(file):
    for x in file:
        yield x

with open("C:\\Users\\saifs\\Desktop\\data_science\\datasets\\world_ind_pop_data.csv", "r") as f:
    f.readline()
    d = {}
    for current in read_large_file(f):
        #print(current)
        a_current = current.split(',')
        if a_current[0] in d:
            d[a_current[0]] += 1
        else:
            d[a_current[0]] = 1
            
    print(d)

{'Arab World': 55, 'Caribbean small states': 55, 'Central Europe and the Baltics': 55, 'East Asia & Pacific (all income levels)': 55, 'East Asia & Pacific (developing only)': 55, 'Euro area': 55, 'Europe & Central Asia (all income levels)': 55, 'Europe & Central Asia (developing only)': 55, 'European Union': 55, 'Fragile and conflict affected situations': 55, 'Heavily indebted poor countries (HIPC)': 55, 'High income': 55, 'High income: nonOECD': 55, 'High income: OECD': 55, 'Latin America & Caribbean (all income levels)': 55, 'Latin America & Caribbean (developing only)': 55, 'Least developed countries: UN classification': 55, 'Low & middle income': 55, 'Low income': 55, 'Lower middle income': 55, 'Middle East & North Africa (all income levels)': 55, 'Middle East & North Africa (developing only)': 55, 'Middle income': 55, 'North America': 55, 'OECD members': 55, 'Other small states': 55, 'Pacific island small states': 55, 'Small states': 55, 'South Asia': 55, 'Sub-Saharan Africa (all income levels)': 55, 'Sub-Saharan Africa (developing only)': 55, 'Upper middle income': 55, 'World': 55, 'Afghanistan': 55, 'Albania': 55, 'Algeria': 55, 'American Samoa': 55, 'Andorra': 55, 'Angola': 55, 'Antigua and Barbuda': 55, 'Argentina': 55, 'Armenia': 55, 'Aruba': 55, 'Australia': 55, 'Austria': 55, 'Azerbaijan': 55, '"Bahamas': 55, 'Bahrain': 55, 'Bangladesh': 55, 'Barbados': 55, 'Belarus': 55, 'Belgium': 55, 'Belize': 55, 'Benin': 55, 'Bermuda': 55, 'Bhutan': 55, 'Bolivia': 55, 'Bosnia and Herzegovina': 55, 'Botswana': 55, 'Brazil': 55, 'Brunei Darussalam': 55, 'Bulgaria': 55, 'Burkina Faso': 55, 'Burundi': 55, 'Cabo Verde': 55, 'Cambodia': 55, 'Cameroon': 55, 'Canada': 55, 'Cayman Islands': 55, 'Central African Republic': 55, 'Chad': 55, 'Channel Islands': 55, 'Chile': 55, 'China': 55, 'Colombia': 55, 'Comoros': 55, '"Congo': 110, 'Costa Rica': 55, "Cote d'Ivoire": 55, 'Croatia': 55, 'Cuba': 55, 'Curacao': 55, 'Cyprus': 55, 'Czech Republic': 55, 'Denmark': 55, 'Djibouti': 55, 'Dominica': 55, 'Dominican Republic': 55, 'Ecuador': 55, '"Egypt': 55, 'El Salvador': 55, 'Equatorial Guinea': 55, 'Eritrea': 55, 'Estonia': 55, 'Ethiopia': 55, 'Faeroe Islands': 55, 'Fiji': 55, 'Finland': 55, 'France': 55, 'French Polynesia': 55, 'Gabon': 55, '"Gambia': 55, 'Georgia': 55, 'Germany': 55, 'Ghana': 55, 'Greece': 55, 'Greenland': 55, 'Grenada': 55, 'Guam': 55, 'Guatemala': 55, 'Guinea': 55, 'Guinea-Bissau': 55, 'Guyana': 55, 'Haiti': 55, 'Honduras': 55, '"Hong Kong SAR': 55, 'Hungary': 55, 'Iceland': 55, 'India': 55, 'Indonesia': 55, '"Iran': 55, 'Iraq': 55, 'Ireland': 55, 'Isle of Man': 55, 'Israel': 55, 'Italy': 55, 'Jamaica': 55, 'Japan': 55, 'Jordan': 55, 'Kazakhstan': 55, 'Kenya': 55, 'Kiribati': 55, '"Korea': 110, 'Kuwait': 52, 'Kyrgyz Republic': 55, 'Lao PDR': 55, 'Latvia': 55, 'Lebanon': 55, 'Lesotho': 55, 'Liberia': 55, 'Libya': 55, 'Liechtenstein': 55, 'Lithuania': 55, 'Luxembourg': 55, '"Macao SAR': 55, '"Macedonia': 55, 'Madagascar': 55, 'Malawi': 55, 'Malaysia': 55, 'Maldives': 55, 'Mali': 55, 'Malta': 55, 'Marshall Islands': 55, 'Mauritania': 55, 'Mauritius': 55, 'Mexico': 55, '"Micronesia': 55, 'Moldova': 55, 'Monaco': 55, 'Mongolia': 55, 'Montenegro': 55, 'Morocco': 55, 'Mozambique': 55, 'Myanmar': 55, 'Namibia': 55, 'Nepal': 55, 'Netherlands': 55, 'New Caledonia': 55, 'New Zealand': 55, 'Nicaragua': 55, 'Niger': 55, 'Nigeria': 55, 'Northern Mariana Islands': 55, 'Norway': 55, 'Oman': 55, 'Pakistan': 55, 'Palau': 55, 'Panama': 55, 'Papua New Guinea': 55, 'Paraguay': 55, 'Peru': 55, 'Philippines': 55, 'Poland': 55, 'Portugal': 55, 'Puerto Rico': 55, 'Qatar': 55, 'Romania': 55, 'Russian Federation': 55, 'Rwanda': 55, 'Samoa': 55, 'San Marino': 55, 'Sao Tome and Principe': 55, 'Saudi Arabia': 55, 'Senegal': 55, 'Seychelles': 55, 'Sierra Leone': 55, 'Singapore': 55, 'Slovak Republic': 55, 'Slovenia': 55, 'Solomon Islands': 55, 'Somalia': 55, 'South Africa': 55, 'South Sudan': 55, 'Spain': 55, 'Sri Lanka': 55, 'St. Kitts and Nevis': 55, 'St. Lucia': 55, 'St. Vincent and the Grenadines': 55, 'Sudan': 55, 'Suriname': 55, 'Swaziland': 55, 'Sweden': 55, 'Switzerland': 55, 'Syrian Arab Republic': 55, 'Tajikistan': 55, 'Tanzania': 55, 'Thailand': 55, 'Timor-Leste': 55, 'Togo': 55, 'Tonga': 55, 'Trinidad and Tobago': 55, 'Tunisia': 55, 'Turkey': 55, 'Turkmenistan': 55, 'Turks and Caicos Islands': 55, 'Tuvalu': 55, 'Uganda': 55, 'Ukraine': 55, 'United Arab Emirates': 55, 'United Kingdom': 55, 'United States': 55, 'Uruguay': 55, 'Uzbekistan': 55, 'Vanuatu': 55, '"Venezuela': 55, 'Vietnam': 55, 'Virgin Islands (U.S.)': 55, '"Yemen': 55, 'Zambia': 55, 'Zimbabwe': 55, 'Serbia': 25, 'West Bank and Gaza': 25, 'Sint Maarten (Dutch part)': 17}

10.  - Read in a file `ind_pop_data.csv` using a chunk size = 1000, use `df_pop_reader` as generator name, and then process the data from the first chunk `df_urb_pop`. Create another DataFrame `df_pop_ceb` composed of only the rows from a specific country. Filter values in `CountryCode` column equals to `CEB`. Then zip together two of the columns from the new DataFrame, 'Total Population' and 'Urban population (% of total)'. Finally, create a list of tuples `pop_list` from the zip object, where each tuple is composed of a value from each of the two columns mentioned. 
     - Use list comprehension to create new DataFrame column 'Total Urban Population in `df_pop_ceb`.
     - Using the scenarios given above, create a new dataframe `data` and append the `df_pop_ceb` dataframe for every chunks of data. Also plot the `urban population data` vs `year` graph.
     - Define the function `plot_pop()` which takes two arguments: the filename of the file to be processed, and the country code of the rows you want to process in the dataset. Because all of the previous code you've written in the previous exercises will be housed in plot_pop(), calling the function already does the following: 
         - Loading of the file chunk by chunk,
         - Creating the new column of urban population values, and
         - Plotting the urban population data.

In [99]:
def hello(row):
    return row['Total Population'] * row['Urban population (% of total)']
import pandas as pd
df_pop_reader = pd.read_csv("C:\\Users\\saifs\\Desktop\\data_science\\datasets\\world_ind_pop_data.csv",chunksize=100)
df_urb_pop = next(df_pop_reader)
df_pop_ceb = df_urb_pop[df_urb_pop.CountryCode == 'CEB'][['Total Population','Urban population (% of total)']]

for index, row in df_pop_ceb.iterrows():
    df_pop_ceb.loc[index,'Total urban population'] = (df_pop_ceb.loc[index,'Total Population'] * df_pop_ceb.loc[index,'Urban population (% of total)'])/100
df_pop_ceb

   Total Population  Urban population (% of total)  Total urban population
2        91401583.0                      44.507921            4.068094e+07