1. The .info() method provides important information about a DataFrame, such as the number of rows, number of columns, number of non-missing values in each column, and the data type stored in each column.

2. Boxplots are great when you have a numeric column that you want to compare across different categories. When you want to visualize two numeric columns, scatter plots are ideal.

In [1]:
import pandas as pd

cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
signups = [7, 12, 3, 5]
visitors = [139, 237, 326, 456]
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
list_labels = ['city', 'signups', 'visitors', 'weekday']
list_cols = [cities, signups, visitors, weekdays]
zipped = list(zip(list_labels, list_cols))

In [2]:
print(zipped)

[('city', ['Austin', 'Dallas', 'Austin', 'Dallas']), ('signups', [7, 12, 3, 5]), ('visitors', [139, 237, 326, 456]), ('weekday', ['Sun', 'Sun', 'Mon', 'Mon'])]

In [3]:
data = dict(zipped)

In [4]:
print(data)

{'city': ['Austin', 'Dallas', 'Austin', 'Dallas'], 'signups': [7, 12, 3, 5], 'visitors': [139, 237, 326, 456], 'weekday': ['Sun', 'Sun', 'Mon', 'Mon']}

In [5]:
a = ['saif','honey']
b = ['salim', 'kumari']
zipped = zip(a,b)
l = list(zipped)

In [6]:
print(l)

[('saif', 'salim'), ('honey', 'kumari')]

In [7]:
d = dict(l)

In [8]:
print(d)

{'saif': 'salim', 'honey': 'kumari'}

In [9]:
fn = ['Saif', 'Honey', 'Tushar']
ln = ['Salim', 'Kumari', 'Banerjee']
rn = [98, 44, 100]
col_name = ['first_name', 'last_name', 'roll_no']
list_cols = [fn, ln, rn]
zipped = list(zip(col_name,list_cols))
print(zipped)

[('first_name', ['Saif', 'Honey', 'Tushar']), ('last_name', ['Salim', 'Kumari', 'Banerjee']), ('roll_no', [98, 44, 100])]

In [10]:
d = dict(zipped)

In [11]:
print(d)

{'first_name': ['Saif', 'Honey', 'Tushar'], 'last_name': ['Salim', 'Kumari', 'Banerjee'], 'roll_no': [98, 44, 100]}

In [12]:
df = pd.DataFrame(d)

In [13]:
print(df)

  first_name last_name  roll_no
0       Saif     Salim       98
1      Honey    Kumari       44
2     Tushar  Banerjee      100

In [14]:
df['age'] = 22

In [15]:
print(df)

  first_name last_name  roll_no  age
0       Saif     Salim       98   22
1      Honey    Kumari       44   22
2     Tushar  Banerjee      100   22

In [16]:
sex = ['M', 'F', 'M']
grade = 9.0
df['sex'] = sex
df['grade'] = grade
print(df)
print(df.index)

  first_name last_name  roll_no  age sex  grade
0       Saif     Salim       98   22   M    9.0
1      Honey    Kumari       44   22   F    9.0
2     Tushar  Banerjee      100   22   M    9.0
RangeIndex(start=0, stop=3, step=1)

In [17]:
df.index = ['a','b','c']

In [18]:
print(df)

  first_name last_name  roll_no  age sex  grade
a       Saif     Salim       98   22   M    9.0
b      Honey    Kumari       44   22   F    9.0
c     Tushar  Banerjee      100   22   M    9.0

In [19]:
df.index

Index(['a', 'b', 'c'], dtype='object')