In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('C:\\Users\\PREDATOR\\Desktop\\Data_Science\\Datasets\\brics.csv',index_col = 0)

In [8]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [26]:
df[['country','capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [10]:
type(df['country'])

pandas.core.series.Series

In [11]:
df[0:1]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4

In [28]:
df[:]

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [13]:
df[['country']]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [15]:
df.loc['BR']

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [16]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [17]:
df[['country','capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [34]:
df.loc['RU']

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [35]:
df.loc[['RU']]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [36]:
df.loc[['RU','IN']]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [37]:
df.loc[['RU','IN'],['country']]

   country
RU  Russia
IN   India

In [38]:
df.loc[['RU','IN'],['country','capital']]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi

In [39]:
df.loc[:,['country','capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [40]:
df.iloc[0]

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [41]:
df.iloc[0:2]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5

In [46]:
df.iloc[0:4]

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [54]:
df.iloc[0:4, 0]

BR    Brazil
RU    Russia
IN     India
CH     China
Name: country, dtype: object

In [55]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [57]:
df['area']>8

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [69]:
df.loc[df['area']>8, ['country','capital','area']]

   country   capital    area
BR  Brazil  Brasilia   8.516
RU  Russia    Moscow  17.100
CH   China   Beijing   9.597

In [65]:
l

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types